* {
    border: none;
    margin: 0;
}

body { background-color: #E5CCB6;}

p, li{
    font-family: 'Sunflower', sans-serif;
}

#inverted_trees {
    background-color: #E5CCB6;
    width: 100%;
    height: 30rem;
    margin: 0%;
}

#grey {
    color: gray;
}



/* Banner Styling */
.banner {
    background-image: url("/images/banner_background.jpg");
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-shadow: black;
    width: auto;
    height: 45rem;
}

.banner ul {
    margin-left: 70%;
    padding-bottom: 20%;
    list-style: none;
    display: block;
}

.banner li {
    display: inline;
    font-size: 2em; ;
}

.banner img {
    background-color: whitesmoke;
    border-radius: 100%;
    margin-bottom: 10%;
    transition-delay: 1s;
}

/* Intro section styling */

.intro_section {
    background-image: url("/images/jonny-caspari-sWvPvEVygkU-unsplash.jpg");
    background-position: center;
    background-size: cover;
    width: auto;
    height: 100%;
    padding-bottom: 15rem;
    color: whitesmoke;
}

.intro_section p {
    border-top: 2px whitesmoke solid;
    border-bottom: 2px whitesmoke solid;
    font-size: 1.5em;
    text-align: center;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 60%;
}

.intro_section h1 {
    font-family: 'Cabin Sketch', cursive;
    opacity: .8;
    font-size: 3em;
    line-height: 4rem;
    margin-left: 2%;
    margin-right: 40%;
    color: whitesmoke;
    padding-top: 10%;

}

.intro_section img {
    color: whitesmoke;
    opacity: 50%;
    margin-top: 5%;
    margin-left: 12.5%;
    width: auto;
    height: 10rem;
}

/* Process Section Styling */

.process_section {
    /* background-color: #ECCC19; */
    background-image: url("/images/gold_texture.jpg");
    background-size: cover;
    background-color: #F9E79F;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 0%;
}

.process_section h1 {
    font-family: 'Cabin Sketch', cursive;
    font-size: 4em;
    padding-bottom: 2rem;
    margin-left: 15%;
    margin-right: 15%;
    border-bottom: 6px solid grey;
    opacity: 80%;
}

.process_section img {
    width: auto;
    height: 30rem;
    /* filter: invert(100%); */
    filter: drop-shadow(30px 10px 4px black);
}
.process_section p {
    padding-top: 2.5%;
    font-size: 2em;
}

/* Step section block styling */
.steps_section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.steps_section h2 {
    font-family: 'Sunflower', sans-serif;
    color: black;
    opacity: 75%;
    border-bottom: 2px solid #E5CCB6;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 2%;
}
.step_block {
    background-color: gray;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 20rem;
    height: 15rem;
    opacity: 95%;
    border-radius: 20%;
    -webkit-box-shadow: 0px 19px 50px 4px rgba(0,0,0,0.68); 
box-shadow: 0px 19px 50px 4px rgba(0,0,0,0.68);
}

.step_block img {
    padding-top: 15%;
    opacity: 80%;
    width: 10rem;
    height: 10rem;
    filter: none;

}

#cup_logo {
    padding-top: 0%;
    width: 15rem;
    height: 15rem;
}
/* Product Block Styling */
.product_intro {
    background-color: #E5CCB6;
    display: flex;
    justify-content: left;
    font-family: 'Cabin Sketch', cursive;    
    
}

.product_intro h1 {
    border-left: 2px solid grey;
    font-size: 4em;
    padding-left: 2.5%;
    margin-left: 5%;


}
.product_section {
    background-color: #E5CCB6;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 5%;
}

.product_section p {
    font-size: 1.5em;
    padding-top: 10%;
    text-align: center;
}
.product_block_1 {
    background-image: url("/images/caramel_drink.jpg");
    color: rgba(0, 0, 0, 0);
    background-size: cover;
    background-repeat: no-repeat;
    width: 20rem;
    height: 20rem;
    transition: all .3s;
    border-radius: 20%;
    -webkit-box-shadow: 0px 19px 50px 4px rgba(0,0,0,0.68); 
box-shadow: 0px 19px 50px 4px rgba(0,0,0,0.68);
}

.product_block_1:hover {
    background-image: none;
    background-color: whitesmoke;
    color: black;
    /* background-color: whitesmoke; */
}