* {
    border: none;
    margin: 0;
}
.banner {
    background-image: url("/images/banner_background.jpg");
    color: whitesmoke;
    display: flex;
    align-items: center; 
    justify-content: center;
    /* margin: 5rem; */
    font-size: 3em;
    text-shadow: black;
    width: auto;
    height: 45rem;
}

.banner img {
    background-color: whitesmoke;
    border-radius: 100%;
}

.process_section {
    background-color: gold;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.process_section h1 {
    padding-bottom: 4rem;
}
.steps_section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.step_block {
    background-color: greenyellow;
    padding-bottom: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}